[defaults]
inventory             = hosts
remote_port           = 22
nocows                = 1
callback_whitelist    = profile_tasks
retry_files_save_path = ~/.ansible/retry-files

[ssh_connection]
ssh_args    = -C -o ControlMaster=auto -o ControlPersist=60s -o ForwardAgent=yes
pipelining  = True
