# test with:
# docker run --rm -it -v /tmp:/var/log -v $(pwd)/roles/bigbluebutton-prometheus/templates/bigbluebutton.mtail.j2:/progs/bigbluebutton.mtail mconf/mtail:v3.0.0-rc36 --one_shot -logtostderr -progs /progs/bigbluebutton.mtail -logs /var/log/syslog

counter bbb_nginx_http_requests_total by request_method, status, api_method

histogram bbb_nginx_http_request_duration_seconds by request_method, status, api_method buckets 0.005, 0.01, 0.025, 0.05, 0.1, 0.25, 0.5, 1, 2.5, 5, 10, 15
histogram bbb_nginx_http_upstream_response_duration_seconds by request_method, status, api_method buckets 0.005, 0.01, 0.025, 0.05, 0.1, 0.25, 0.5, 1, 2.5, 5, 10, 15

getfilename() =~ /bigbluebutton.access.log$/ {
  /^(?P<remote_addr>\S+) - (?P<remote_user>\S+) \[(?P<time_local>[^\]]+)\] "(?P<request_method>\S+) (?P<request_uri>[^ ]+) (?P<http_version>HTTP[^"]+)" (?P<status>\S+) (?P<body_bytes_sent>\d+) "(?P<http_referer>[^"]+)" "(?P<http_user_agent>[^"]+)" "(?P<http_x_forwarded_for>[^"]+)" (?P<request_time>\S+) (?P<upstream_response_time>\S+) (?P<pipe>\S+) (?P<upstream_cache_status>\S+)$/ {
    $remote_addr != "{{ external_ip }}" && $remote_addr != "127.0.0.1" {
      $request_uri =~ /\/bigbluebutton\/api\/(?P<api_method>\w+)/ {
        bbb_nginx_http_requests_total[$request_method][$status][$api_method]++

        $request_time != "-" {
          bbb_nginx_http_request_duration_seconds[$request_method][$status][$api_method] = float($request_time)
        }

        $upstream_response_time != "-" {
          bbb_nginx_http_upstream_response_duration_seconds[$request_method][$status][$api_method] = float($upstream_response_time)
        }
      }
    }
  }
}

counter bbb_sfu_media_threshold_exceeded_total by scope

getfilename() =~ /bbb-webrtc-sfu.log$/ {
  /"message":"\[mcs-room\] Room has exceeded the media threshold"/ {
    bbb_sfu_media_threshold_exceeded_total["room"]++
  }
}

counter bbb_apps_ejected_total by reason

getfilename() =~ /bbb-apps-akka.log$/ {
  /"ejectedBy":"SYSTEM","reason":"(?P<reason>[^"]+)"/ {
    bbb_apps_ejected_total[$reason]++
  }
}

histogram bbb_html5_rtt_seconds buckets 0.05, 0.1, 0.2, 0.3, 0.4, 0.5, 0.75, 1, 1.5, 2, 2.5, 5

# count ejections skipped
getfilename() =~ /syslog$/ {
  /Skipping violation ejection of user .*\. Reason: (?P<reason>.*)/ {
    bbb_apps_ejected_total[$reason]++
  }

  /"logCode":"timer_rtt".*"rtt":(?P<rtt>\d+)/ {
    bbb_html5_rtt_seconds = float($rtt)/1000
  }

  /Ejecting rogue voice user/ {
    bbb_apps_ejected_total['Ejecting rogue voice user.']++
  }
}
