_format_version: "1.1"
services:
- name: {{ mconf_web_api_proxy_service_name }}
  url: {{ mconf_web_api_proxy_url }}
  routes:
  - name: api
    paths:
    - /
  connect_timeout: {{ mconf_web_api_proxy_connect_timeout }}
  read_timeout: {{ mconf_web_api_proxy_read_timeout }}
  write_timeout: {{ mconf_web_api_proxy_write_timeout }}

plugins:
- name: prometheus
  service: {{ mconf_web_api_proxy_service_name }}
  config:
