kurento:
  wsUrl: 'wss://{{ inventory_hostname }}/bbb-webrtc-sfu'
  chromeExtensionKey: '{{ bigbluebutton_screenshare_extension_key }}'
  chromeExtensionLink: '{{ bigbluebutton_screenshare_extension_url }}'
  enableScreensharing: true
  enableVideo: true
