[Unit]
Description=Kurento Media Server daemon
After=network.target

[Service]
ExecStart=/etc/init.d/kurento-media-server start
PIDFile=/var/run/kurento-media-server.pid
Restart=always

[Install]
WantedBy=multi-user.target
