listening-port=3478
tls-listening-port=5349
min-port=49152
max-port=65535
fingerprint
lt-cred-mech
realm={{ inventory_hostname }}
cert={{ coturn_ssl_certificate }}
pkey={{ coturn_ssl_certificate_key }}
cipher-list="ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:RSA+AESGCM:RSA+AES:!aNULL:!MD5:!DSS:!AES256"
dh-file={{ coturn_ssl_dh_file }}
no-tlsv1
no-tlsv1_1
external-ip={{ external_ip }}
use-auth-secret
static-auth-secret={{ coturn_secret }}

redis-statsdb="ip=127.0.0.1 port=6379 dbname=3 connect_timeout=30"

no-stdout-log
