listening-port=3478
min-port=49152
max-port=65535
fingerprint
realm={{ coturn_domain_name }}
{% if coturn_ssl_enabled %}
tls-listening-port={{ coturn_ssl_port }}
cert={{ coturn_ssl_certificate }}
pkey={{ coturn_ssl_certificate_key }}
cipher-list="ECDH+AESGCM:ECDH+CHACHA20:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:RSA+AESGCM:RSA+AES:!aNULL:!MD5:!DSS"
dh-file={{ coturn_ssl_dh_file }}
no-tlsv1
no-tlsv1_1
{% endif %}
external-ip={{ external_ip }}
use-auth-secret
static-auth-secret={{ coturn_secret }}

log-file=/var/log/coturn.log
simple-log

prometheus
