var default_int_code = "{{ sip_proxy_default_int_code }}";
var sip_proxy_version = "{{ sip_proxy_version }}";
var mode = "{{ sip_proxy_mode }}"; // bridge or redirect
var credentials = [{% for item in sip_proxy_credentials %} { url: "{{ item.url }}", secret: "{{ item.secret }}" },{% endfor %} ];
