var default_int_code = "{{ sip_proxy_default_int_code }}";
var server_url = "{{ sip_proxy_server_url }}"; // should include /bigbluebutton/api
var server_salt = "{{ sip_proxy_server_salt }}";
var sip_proxy_version = "{{ sip_proxy_version }}";
var mode = "{{ sip_proxy_mode }}"; // bridge or redirect
