# Upstart mirtrainer's script
description "start/stop mirtrainer"
version "0.0.1"
author "Mario Gasparoni"

# When to start
start on filesystem and started networking

# When to stop
stop on shutdown

# Go to deploy path
env APP_PATH={{ ansible_env.HOME }}/dev/vtraining
env BUNDLE_PATH={{ ansible_env.HOME }}/.rbenv/shims/bundle
env LOG_PATH=/var/log/vtraining.log

script
    # go to deploy path
    chdir $APP_PATH
    exec sudo -u {{ ansible_user }} ${BUNDLE_PATH} exec puma -p 9292 >> ${LOG_PATH} 2>&1
end script
