_format_version: "1.1"
services:
{% for item in kong_config %}
- name: {{ item.service_name }}
  url: {{ item.url }}
  routes:
  - name: {{ item.route_name }}
    paths:
{% for path in item.paths %}
    - {{ path }}
{% endfor %}
  connect_timeout: {{ item.connect_timeout | default(kong_connect_timeout) }}
  read_timeout: {{ item.read_timeout | default(kong_read_timeout) }}
  write_timeout: {{ item.write_timeout | default(kong_write_timeout) }}

{% endfor %}
plugins:
{% for item in kong_config %}
- name: prometheus
  service: {{ item.service_name }}
  config:
{% endfor %}
