location /client/BigBlueButton.html {
    alias {{ ansible_env.HOME }}/dev/bigbluebutton/bigbluebutton-client/client/BigBlueButton.html;
    index index.html index.htm;
    expires 1m;
}

# BigBlueButton Flash client.
location /client {
    alias {{ ansible_env.HOME }}/dev/bigbluebutton/bigbluebutton-client/client;
    index index.html index.htm;
}
