/var/bigbluebutton/published                            {% for item in groups['mconf-recw'] %} {{ hostvars[item].nfs_ip }}/32(rw,nohide,no_subtree_check,async){% endfor %}

/var/bigbluebutton/recording/status/published           {% for item in groups['mconf-recw'] %} {{ hostvars[item].nfs_ip }}/32(rw,nohide,no_subtree_check,async){% endfor %}

/var/bigbluebutton/recording/raw                        {% for item in groups['mconf-recw'] %} {{ hostvars[item].nfs_ip }}/32(ro,nohide,no_subtree_check,async){% endfor %}

{% for item in groups['mconf-recw'] %}
/var/bigbluebutton/recording/status/sanity_{{ hostvars[item].nfs_name }}    {{ hostvars[item].nfs_ip }}/32(rw,nohide,no_subtree_check,async)
{% endfor %}
