###############################################################
#     Este servidor esta sob responsabilidade da GTI/RNP.     #
#                                                             #
#    O acesso a este servidor e permitido apenas a equipe     #
#    da GTI. Acessos nao autorizados serao investigados e     #
#    punidos de acordo com a legislacao vigente.              #
#                                                             #
#   Desconecte IMEDIATAMENTE se voce nao esta autorizado!!!   #
#         Todas acoes serao monitoradas e gravadas            #
###############################################################
