# Be sure to restart your server when you modify this file.
# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!
# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use rake secret to generate a secure secret key.
# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
    secret_key_base: 0e72b8e9b71e017ae41abf158c7d46dd677d33d3628fad8c4f42ac4ef1f45d11c538d327f26ce11e8f10454512afba92876c6e873f7c71559ba64d890a6ded7d
    mosaic_url: https://{{ ansible_default_ipv4.address }}:8443/mosaic
    kms_servers: 1
    root_url: https://localhost:3000

# test:
#     secret_key_base: 11b4e9448fd2576727545d5fded23a0ddea99601b55ea88d7a86d56cf0bd9ad9b130de0e489a5c5e3c5bd160b3e1a68e775b04164e98ceadb790f546db70c488
#     mosaic_url: https://localhost:8443/mosaic
#     kms_servers: 2
# 
# # Do not keep production secrets in the repository,
# # instead read values from the environment.
# 
# production:
#     secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
#     mosaic_url: https://localhost:8443/mosaic
#     kms_servers: 2
