{
  "kurento": {
    "rtsp_network_cache": 0,
    "balanced_servers": ["0"],
    "servers" : {
      "0" : {
        "ws_uri": "{{ vtraining_kms_uri }}",
        "local_ip_address": "{{ vtraining_kms_ip }}"
      }
    },
    "status_file": "./temp/status.json",
    "exit_timeout": 500,
    "ignore_invalid_certificate": false,
    "server_timeout" : 10000,
    "recording_server": "0",
    "recording_timeout": 30000,
    "recordings_path": "file:///mnt/recordings/",
    "server_timeout": 10000,
    "bitrate": {{ vtraining_kms_bitrate }}
  },

  "media_sources": {
    "url": "{{ vtraining_media_sources_url }}",
    "media_initialized_timeout": 10000,
    "server_video_timeout": 20000,
    "client_video_timeout": 15000
  },

  "server": {
    "port": 8443,
    "prebuilt_assets": true,
    "base_path": "/mosaic"
  },

  "portal_urls": "*",

  "recorder": {
    "missedKeepAlives": 3,
    "keepAliveTimeout": 6000,
    "timeoutCallbackUrl": "{{ vtraining_media_recordings_server }}/media_recordings/",
    "timeoutCallbackMethod": "PUT",
    "closeRecordingTimeout": 5000,
    "postRecordingMaximumTime": 60,
    "bitrate": {{ vtraining_kms_recording_bitrate }}
  },

  "audio_bridge": {
    "enabled": true,
    "silence_after_audio": 1500,
    "concurrent_jobs": 1,
    "delay_after_new_job": 500,
    "delay_before_send_audio": 500,
    "job_timeout": 30000,
    "audio_dial_timeout": 10000,
    "freeswitch_dial_timeout": 2
  },

  "sip":{
    "enabled": true,
    "local_ip_address" : "{{ ansible_default_ipv4.address }}",
    "min_audio_port" : 7000,
    "max_audio_port" : 9000,
    "min_video_port" : 30000,
    "max_video_port" : 33000,
    "server" : "{{ ansible_default_ipv4.address }}",
    "server_port" : "5066"
  },

  "redis" : {
    "host" : "localhost",
    "port" : "6379",
    "password" : "",
    "subpattern" : "bigbluebutton:to-kurento:*",
    "pubchannel" : "bigbluebutton:from-kurento:system"
  },

  "freeswitch" : {
    "ip": "localhost",
    "port": 8021,
    "conf_number": 9198
  },

  "cameras" : {
    "user": "admin",
    "password": "admin",
    "port": 80,
    "timeout": 4000,
    "max_height": 1080
  }
}
