version: '2.2'

services:
  es01:
    image: elasticsearch:7.4.2
    container_name: es01
    restart: always
    environment:
      - node.name=es01
      - cluster.name=es-docker-cluster
      - discovery.seed_hosts=es02,es03
      - cluster.initial_master_nodes=es01,es02,es03
      - bootstrap.memory_lock=true
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms1280m -Xmx1280m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - data01:/usr/share/elasticsearch/data
    ports:
      - 9200:9200
    networks:
      - elastic
    healthcheck:
      test: curl -s http://localhost:9200 >/dev/null; if [[ $$? == 52 ]]; then echo 0; else echo 1; fi
      interval: 30s
      timeout: 10s
      retries: 5
    labels:
      - "traefik.backend=elasticsearch"
      - "traefik.frontend.rule=Host:{{ inventory_hostname }};PathPrefixStrip:/elastic"
      - "traefik.frontend.auth.basic.users={{ elastic_password_hash }}"

  es02:
    image: elasticsearch:7.4.2
    container_name: es02
    restart: always
    environment:
      - node.name=es02
      - cluster.name=es-docker-cluster
      - discovery.seed_hosts=es01,es03
      - cluster.initial_master_nodes=es01,es02,es03
      - bootstrap.memory_lock=true
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms1280m -Xmx1280m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - data02:/usr/share/elasticsearch/data
    networks:
      - elastic
    healthcheck:
      test: curl -s http://localhost:9200 >/dev/null; if [[ $$? == 52 ]]; then echo 0; else echo 1; fi
      interval: 30s
      timeout: 10s
      retries: 5

  es03:
    image: elasticsearch:7.4.2
    container_name: es03
    restart: always
    environment:
      - node.name=es03
      - cluster.name=es-docker-cluster
      - discovery.seed_hosts=es01,es02
      - cluster.initial_master_nodes=es01,es02,es03
      - bootstrap.memory_lock=true
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms1280m -Xmx1280m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - data03:/usr/share/elasticsearch/data
    networks:
      - elastic
    healthcheck:
      test: curl -s http://localhost:9200 >/dev/null; if [[ $$? == 52 ]]; then echo 0; else echo 1; fi
      interval: 30s
      timeout: 10s
      retries: 5

  kibana:
    image: elastic/kibana:7.4.2
    container_name: kibana
    ports:
      - 5601:5601
    restart: always
    environment:
      SERVER_NAME: {{ inventory_hostname }}
      ELASTICSEARCH_HOSTS: http://es01:9200
      XPACK_SECURITY_ENABLED: "false"
      XPACK_LICENSE_MANAGEMENT_ENABLED: "false"
      XPACK_MONITORING_UI_CONTAINER_ELASTICSEARCH_ENABLED: "false"
    depends_on:
      - es01
    networks:
      - elastic
    healthcheck:
      test: curl -s http://localhost:5601 >/dev/null; if [[ $$? == 52 ]]; then echo 0; else echo 1; fi
      interval: 30s
      timeout: 10s
      retries: 5
    labels:
      - "traefik.backend=kibana"
      - "traefik.frontend.rule=Host:{{ inventory_hostname }};PathPrefix:/"
      - "traefik.frontend.auth.basic.users={{ elastic_password_hash }}"

  traefik:
    image: traefik:v1.7.19
    container_name: traefik
    restart: always
    ports:
      - 80:80
      - 443:443
    networks:
      - elastic
    command:
      - --docker
      - --loglevel=INFO
      - --defaultentrypoints=http,https
      - --entryPoints=Name:http Address::80 Redirect.EntryPoint:https
      - --entryPoints=Name:https Address::443 TLS:/etc/traefik/certs/{{ elastic_ssl_certificate }},/etc/traefik/certs/{{ elastic_ssl_certificate_key }}
    volumes:
      - ./certs:/etc/traefik/certs
      - /var/run/docker.sock:/var/run/docker.sock

volumes:
  data01:
    driver: local
  data02:
    driver: local
  data03:
    driver: local

networks:
  elastic:
    driver: bridge
