listening-port=3478
tls-listening-port=5349

listening-ip={{ ansible_default_ipv4.address }}

relay-ip={{ ansible_default_ipv4.address }}
external-ip={{ external_ip }}

realm={{ inventory_hostname }}
server-name={{ inventory_hostname }}

lt-cred-mech
user={{ coturn_username }}:{{ coturn_password }}

cert={{ coturn_ssl_certificate }}
pkey={{ coturn_ssl_certificate_key }}

no-stdout-log
